sequence_search/__pycache__/
Escherichia_conservancy/search_results
Escherichia_conservancy/filtered_results
Escherichia_conservency/.main.sh.swo
Escherichia_conservancy/.main.sh.swo
Escherichia_conservancy/.main.sh.swo
Escherichia_conservancy/__pycache__/fasta_cross.cpython-311.pyc
